

<!-- <form #registerForm="ngForm"(ngSubmit)="register()">
    <div class="auth-block">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Создать аккаунт</span>
                <div class="input-field">
                    !!! <input id="email" type="email" required>  !!!
                    <label for="email">Username:</label>
                    <input type="text" placeholder="Username" class="form-control"
                    [(ngModel)]="model.username" name="username" required>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Password" class="form-control"
                    [(ngModel)]="model.password" name="password" required>
                    <label for="password">Пароль:</label>
                </div>
            </div>
            <div class="card-action">
                <button class="modal-action btn waves-effect">Создать</button>
                <button type="submit"  class="modal-action btn waves-effect">Register</button>
                <button type="button" class="modal-action btn waves-effect" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div> -->
    <div class="auth-block">
      <form
          #registerForm="ngForm"
          class="card"
          (ngSubmit)="register()"
      >
              <div class="card-content">
                  <span class="card-title">Создать аккаунт</span>
                  <div class="input-field ">
                      <input
                       id="username"
                       type="text"
                       name="username" 
                       [(ngModel)]="model.username">
                      <label for="Username">Логин:</label>
                      
                  </div>
                  <div class="input-field">
                      <input 
                      id="password" 
                      type="password"
                      name="password"
                      [(ngModel)]="model.password"
                      >
                      <label for="password">Пароль:</label>
                  </div>
                 
              </div>
              <div class="card-action">
                  <button 
                  type ="submit" 
                  class="modal-action btn waves-effect grey darken-4"
                  >
                  Создать аккаунт</button>
              </div>
      </form>
    <!-- <h2 class="text-center text-primary">Sign Up</h2>
    <div class="form-group">
      <input type="text" placeholder="Username" class="form-control"
      [(ngModel)]="model.username" name="username" required>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control"
      [(ngModel)]="model.password" name="password" required>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-success mr-2">Register</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div> -->
  <!-- </form> -->