
<div class="parallax-container">
    <div class="parallax"><img class="responsive-img" style=" width: 1309px" src="assets/img/1.jpg"></div>
  </div> 
<div class="slider">
    <ul class="slides grey darken-4">
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> 
        <div class="caption left-align">
          <h3>Вас приветствует Dosmth</h3>
          <h5 class="light grey-text text-lighten-3">Организуйте свою работу и жизнь.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> 
        <div class="caption right-align">
          <h3>Dosmth</h3>
              <h5 class="light grey-text text-lighten-3">Станьте сосредоточенным, организованным и спокойным</h5>
        </div>
      </li>
    </ul>
  </div>

