<ul class="sidenav sidenav-fixed a-sidenav ">
    
    <li class="grey darken-4"> 
        <div class="row">
            <div class="col s12 m4 12"> <h4 class="white-text">Dosmth</h4></div>
        </div>
    </li>   
    <li
     class="bold "
      *ngFor="let link of links"
      routerLinkActive="active"
      >
        <a [routerLink]="[link.url]" class="waves-effect waves-darken">
           {{link.name}}
        </a>
    </li>
   
    <li class="bold last">
        <a href="#" class="waves-effect waves-darken" 
        (click)="logout($event)">
            Выйти</a>
    </li>
</ul>

<main class="content">
    <router-outlet></router-outlet>
</main>

<div  class="fixed-action-btn" >
    <a class="btn-floating btn-large red">
        <i class="large material-icons grey darken-4">add</i>
    </a>
    <ul>
        <li>
            <a routerLink="/add-list" class="btn-floating green">
                <i class="material-icons">assignment</i>
            </a>
        </li>
        <li>
            <a routerLink="/add-item" class="btn-floating blue">
                <i class="material-icons">list</i>
            </a>
        </li>
    </ul>
</div>